h1 {
    text-align: center;
    margin-bottom: 25px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

.tasks li{
    width: 100%;
    height: 34px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divTaskText {
    padding-left: 8px;
    padding-top: 7px;
}

li:hover{
    background-color: #EEE;
}

.task-icon {
    margin-right: 15px;
}

.taskDone{
    background-color: rgba(173,255,47,0.6);
}