{% extends "bootstrap/base.html" %}

{% block title %}To-do List!{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="../static/css/todolist.css">
{% endblock %}

{% block content %}
    <div class="">
        <h1>Tasks To Do!</h1>
        <div style="display: flex">
            <input id="taskInput" class="form-control" type="text">
            <button id="btn-AddTask" class="btn btn-primary" onclick="addTask()">Add Task</button>
        </div>
        <div class="tasks">
            <ul id="ul-taskList">
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="../static/js/todolist.js"></script>
{{super()}}
{% endblock %}